body {
	font-family:		Helvetica;
    font-size:			10pt;
	color:				#000000;
	background-color:	#ffffff;
}

table.header {
}

.area {
    font-family:			Arial, Helvetica, sans-serif;
    font-size:				10pt;
    color:					#808080;
	background-color:		#ffffff;
	border:					1px solid #c0c0c0;
	box-shadow:				2px 2px 4px #555;
	padding: 				5px;
	margin-bottom: 			5px;

	-webkit-border-radius:	8px;
	-moz-border-radius:		8px;
	border-radius:			8px;
}
.area_title td {
    font-family:			Arial, Helvetica, sans-serif;
    font-size:				16px;
	background-color:		#dc0014;
    color:					#ffffff;
	padding: 				5px;
	margin-bottom: 			10px;
	padding: 				10px;

	-webkit-border-radius:	8px;
	-moz-border-radius:		8px;
	border-radius:			8px;
}
.area_text td{
    color:					#808080;
    font-size:				12px;
}
.area_text a{
    font-size:				12px;
}

.cmd_title td {
    font-family:			Arial, Helvetica, sans-serif;
    font-size:				16px;
	background-color:		#dc0014;
    color:					#ffffff;
	padding: 				5px;
	margin-bottom: 			10px;
	padding: 				10px;

	-webkit-border-radius:	8px;
	-moz-border-radius:		8px;
	border-radius:			8px;
}
.cmd_text td{
    color:					#808080;
    font-size:				12px;
}
.cmd_text a{
	padding-right: 			10px;
    font-size:				12px;
}
.param_text {
	border:					1px solid #c0c0c0;
	vertical-align:			top;
}
.option_text {
	border:					1px solid #c0c0c0;
	vertical-align:			top;
}
